@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.home.page .character.dungeon-world-core {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 0.5rem;
    background-image: url('../../images/games/dungeon-world/symbol.jpg');
    background-size: contain;
  }

  display: grid;
  grid-template-columns: 0fr 0fr 1fr;
  grid-column-gap: 0.2rem;
  grid-template-areas:
    "name name name"
    "level race class";


  > .field[name='name'] {
    grid-area: name;
    font: 1.4rem MedievalSharp;
    line-height: 1rem;
    &::after { content: attr(value); }
  }

  > .field[name='xp'] {
    display: none;
  }

  > .field[name='level'] {
    grid-area: level;
    min-width: max-content;
    font: italic 1rem MedievalSharp;
    &::before { content: 'lvl. '; }
    &::after { content: attr(value); }
  }

  > .field[name='race'] > .field[name='name'] {
    grid-area: race;
    font: italic 1rem MedievalSharp;
    &::after { content: attr(value); }
  }

  > .field[name='playbook'] > .field[name='name'] {
    grid-area: class;
    font: italic 1rem MedievalSharp;
    &::after { content: attr(value); }
  }

  &.thief {
    background-image: url('../../images/classes-icons/thief.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #3f2167;
    color: white;
  }
}

.new.page .choose.game .field[value*='dungeon-world'] {
  background: url('../../images/games/dungeon-world/banner.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.new.page .dungeon-world.core .playbook .field {
  height: 5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background: white;

  &::before {
    content: attr(value);
    margin: 1rem;
    font: bold 1.5rem MedievalSharp;
  }
}

.character.page > .character {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(3, 1fr) 6rem;
  grid-template-rows: 2.5rem repeat(6, 1fr) 2.5rem;
  grid-template-areas:
    "name name name xp"
    "info info info strength"
    "info info info dexterity"
    "info info info constitution"
    "info info info intelligence"
    "info info info wisdom"
    "moves moves moves charisma"
    "equipment equipment equipment settings";

  > .field {
    position: relative;
  }

  // -------------------- header --------------------

  > .field[name='name'] {
    grid-area: name;
    font: bold 1.4rem MedievalSharp;
    margin-left: 1rem;
    line-height: 2.5rem;
    color: white;
    &::after { content: attr(value); }
  }

  > .field[name='xp'], > .field[name='level'] { grid-area: xp }

  > .field[name='level'] {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 0.5rem;
    color: white;
    font: bold 1.4rem MedievalSharp;
    background: linear-gradient(to bottom, transparent 24%, black 25%, black 78%, transparent 0);
    width: 90%;
    border-radius: 0 0.5rem 0.5rem 0;

    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      margin-left: -0.5rem;
      border: 2px solid #9b029b;
      background: #151515;
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      content: attr(value);
    }
  }

  @for $lvl from 1 through 10 {
    @for $xp from 1 through $lvl+7 {
      > .field[name='xp'][value='#{$xp}'] ~ .field[name='level'][value='#{$lvl}']::after {
        content: '';
        margin-left: -0.5rem;
        background: #9b029b;
        border-radius: 0 0.5rem 0.5rem 0;
        height: 50%;
        width: ($xp) / ($lvl+7) * 100%;
      }
    }
  }

  // -------------------- stats --------------------

  > .field[name='strength'],      > .field[name='str'] { grid-area: strength; }
  > .field[name='dexterity'],     > .field[name='dex'] { grid-area: dexterity; }
  > .field[name='constitution'],  > .field[name='con'] { grid-area: constitution; }
  > .field[name='intelligence'],  > .field[name='int'] { grid-area: intelligence; }
  > .field[name='wisdom'],        > .field[name='wis'] { grid-area: wisdom; }
  > .field[name='charisma'],      > .field[name='cha'] { grid-area: charisma; }

  > .field[name='strength'],
  > .field[name='dexterity'],
  > .field[name='constitution'],
  > .field[name='intelligence'],
  > .field[name='wisdom'],
  > .field[name='charisma'] {
    color: white;
    margin: 0.2rem 0 0.5rem 0.2rem;
    border-radius: 0.5rem 0 0 0.5rem;

    &::before {
      position: absolute;
      top: 0.2rem;
      right: 0.2rem;
      content: attr(value);
    }
    &::after {
      position: absolute;
      bottom: 0.2rem;
      right: 0;
      text-align: center;
      width: 100%;
      content: attr(name);
    }
  }

  > .field[name='str'],
  > .field[name='dex'],
  > .field[name='con'],
  > .field[name='int'],
  > .field[name='wis'],
  > .field[name='cha'] {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font: 2.4rem MedievalSharp;

    &::after { content: attr(value); }
  }

  > .field[name='strength']     { background: #44110A; }
  > .field[name='dexterity']    { background: #072818; }
  > .field[name='constitution'] { background: #101E33; }
  > .field[name='intelligence'] { background: #1A0E2D; }
  > .field[name='wisdom']       { background: #453A02; }
  > .field[name='charisma']     { background: #462206; }

}
