@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Cinzel&family=Metamorphous&display=swap');
$page-height: 100vh;
$page-width: 100vw;
$full: 100%;

$large-gap: 1rem;
$small-gap: 0.5rem;
$tiny-gap: 0.2rem;
$border-radius: $small-gap;

$background-color: #151515;
$modal-background-color: rgba(0, 0, 0, 0.75);

%centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

%page-size {
  width: $page-width;
  height: $page-height;
}

%round {
  border-radius: $border-radius;
}

%inverted {
  background: white;
  color: black;
}

%invisible {
  display: none;
}
.home.page .character.dungeon-world-core {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    aspect-ratio: 1;
    width: 1.5rem;
    height: 1.5rem;
    top: $small-gap;
    right: $small-gap;
    border-radius: $border-radius;
    background-image: url('./images/symbol.jpg');
    background-size: contain;
  }

  display: grid;
  grid-template: 0fr 0fr 1fr / 1fr 1fr;
  grid-column-gap: $tiny-gap;
  grid-template-areas:
    "name name name"
    "level race class";

  > .field[name=name] {
    grid-area: name;
    font: 1.4rem MedievalSharp;
    line-height: 1rem;
    &::after { content: attr(value); }
  }

  > .field[name=xp] { @extend %invisible; }

  > .field[name=level] {
    grid-area: level;
    min-width: max-content;
    font: italic 1rem MedievalSharp;
    &::before { content: 'lvl. '; }
    &::after { content: attr(value); }
  }

  > .field[name=race] {
    grid-area: race;
    font: italic 1rem MedievalSharp;
    &::after { content: attr(value); }
  }

  > .field[name=playbook] > .field[name=name] {
    grid-area: class;
    font: italic 1rem MedievalSharp;
    &::after { content: attr(value); }
  }

  .settings { display: none; }

  &.thief {
    background-image: url('./images/classes-icons/thief.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #3f2167;
    color: white;
  }
}

.new.page {
  .choose.game .field[value*='dungeon-world'] {
    background: url('./images/banner.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }

 .dungeon-world.core .playbook .field {
    height: 5rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background: white;

    &::before {
      content: attr(value);
      margin: 1rem;
      font: bold 1.5rem MedievalSharp;
    }
  }
}

.character.page > .character.dungeon-world-core {
  width: $page-width;
  height: $page-height;

  display: grid;
  grid-template: 2.5rem repeat(12, 1fr) 2.5rem/repeat(3, 1fr) 5rem;
  gap: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
  grid-template-areas:
    "name name name xp"
    "description description description strength"
    "description description description strength"
    "info info info dexterity"
    "damage armor hp dexterity"
    "damage armor hp constitution"
    "moves moves moves constitution"
    "moves moves moves intelligence"
    "moves moves moves intelligence"
    "gear gear gear wisdom"
    "gear gear gear wisdom"
    "gear gear gear charisma"
    "notes notes notes charisma"
    "notes notes notes settings";

  > .field {
    position: relative;
  }

  // -------------------- header --------------------

  > .field[name=name] {
    grid-area: name;
    font: bold 1.4rem MedievalSharp;
    margin-left: 1rem;
    line-height: 2.5rem;
    color: white;
    &::after { content: attr(value); }
  }

  > .field[name=xp], > .field[name=level] { grid-area: xp }

  > .field[name=xp] {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    border-radius: 0.3rem;
    background: black;
  }

  $xp-color: #74005a;

  > .field[name=level] {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    color: white;
    font: bold 1.4rem Cinzel;
    border-radius: 0 0.5rem 0.5rem 0;

    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      margin-left: -1rem;
      border: 2px solid $xp-color;
      background: $background-color;
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      content: attr(value);
    }
  }

  @for $lvl from 1 through 10 {
    @for $xp from 1 through $lvl+7 {
      > .field[name=xp][value='#{$xp}'] ~ .field[name=level][value='#{$lvl}']::after {
        content: '';
        margin-left: -0.5rem;
        background: $xp-color;
        border-radius: 0 0.3rem 0.3rem 0;
        height: 50%;
        width: math.div($xp, $lvl+7) * 100%;
      }
    }
  }

  // -------------------- stats --------------------

  > .field[name=strength],      > .field[name=str], > .field[name=weak]     { grid-area: strength; }
  > .field[name=dexterity],     > .field[name=dex], > .field[name=shakey]   { grid-area: dexterity; }
  > .field[name=constitution],  > .field[name=con], > .field[name=sick]     { grid-area: constitution; }
  > .field[name=intelligence],  > .field[name=int], > .field[name=stunned]  { grid-area: intelligence; }
  > .field[name=wisdom],        > .field[name=wis], > .field[name=confused] { grid-area: wisdom; }
  > .field[name=charisma],      > .field[name=cha], > .field[name=scarred]  { grid-area: charisma; }

  > .field[name=strength],
  > .field[name=dexterity],
  > .field[name=constitution],
  > .field[name=intelligence],
  > .field[name=wisdom],
  > .field[name=charisma] {
    color: white;
    border-radius: 1rem 0 0 1rem;

    &::before {
      position: absolute;
      top: 0.2rem;
      right: 0.2rem;
      content: attr(value);
    }
    &::after {
      position: absolute;
      bottom: 0.2rem;
      right: 0;
      text-align: center;
      font: 0.7rem Cinzel;
      width: $full;
      content: attr(name);
    }
  }

  > .field[name=str],
  > .field[name=dex],
  > .field[name=con],
  > .field[name=int],
  > .field[name=wis],
  > .field[name=cha] {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font: 2.4rem Cinzel;

    &::after { content: attr(value); }
  }

  > .field[name=weak],
  > .field[name=shakey],
  > .field[name=sick],
  > .field[name=stunned],
  > .field[name=confused],
  > .field[name=scarred] {
    height: fit-content;
    width: fit-content;
    transform: rotate(-30deg) translate(-0.2rem, 1.2rem);
    font: bold 0.7rem MedievalSharp;
    color: white;

    &[value='true']::after { content: attr(name); }
  }

  > .field[name=strength]     { background: #44110A; }
  > .field[name=dexterity]    { background: #072818; }
  > .field[name=constitution] { background: #101E33; }
  > .field[name=intelligence] { background: #1A0E2D; }
  > .field[name=wisdom]       { background: #453A02; }
  > .field[name=charisma]     { background: #462206; }

  // -------------------- information --------------------

  > .field[name=description] {
    grid-area: description;
    font: bold 0.7rem MedievalSharp;
    color: white;
    text-align: justify;
    padding: 0.5rem;
    background: #172022;
    overflow-y: scroll;

    &::after { content: attr(value); }
  }

  // -------------------- main stats --------------------

  > .field[name=damage] {
    grid-area: damage;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font: bold 1.2rem MedievalSharp;
    color: white;

    &::after { content: attr(value); }
  }

  > .field[name=armor] {
    grid-area: armor;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font: bold 1.2rem MedievalSharp;
    color: white;

    &::after { content: attr(value); }
  }

  > .field[name=hp],
  > .field[name='max hp'] {
    grid-area: hp;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font: bold 1.2rem MedievalSharp;
    color: white;

    &::after { content: attr(value); margin: 0.75rem; }
  }

  > .field[name=hp] {
    justify-content: left;
  }

  > .field[name='max hp'] {
    justify-content: right;
  }

  // -------------------- collections --------------------

  > .field[name=moves], > .field[name=gear] {
    overflow-x: scroll;
    padding: 0.5rem;
    background: #172022;

    display: flex;
    gap: 0.5rem;

    > * {
      aspect-ratio: 1;
      flex: 10 0 auto;
      background: #202d31;
      border-radius: 0.5rem;
    }
  }

  > .field[name=moves] {
    grid-area: moves;

    .field[name=name] {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      height: $full;
      padding: 0.5rem;
      box-sizing: border-box;
      font: bold 0.7rem Cinzel;

      &::before {
        content: '';
        // TODO background-image: url('images/games/dungeon-world/moves/' attr(value) '.jpg')
      }
      &::after { content: attr(value); }
    }
  }
  > .field[name=gear] {
    grid-area: gear;

    .field[name=name] {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      height: $full;
      padding: 0.5rem;
      box-sizing: border-box;
      font: bold 0.7rem Cinzel;

      &::before {
        content: '';
        // TODO background-image: url('images/games/dungeon-world/gear/' attr(value) '.jpg')
      }
      &::after { content: attr(value); }
    }
  }

  // -------------------- notes --------------------

  > .field[name=notes] {
    grid-area: notes;
    font: bold 0.7rem MedievalSharp;
    color: white;
    text-align: justify;
    padding: 0.5rem;
    background: #172022;
    overflow-y: scroll;

    &::after { content: attr(value); }
  }

  // -------------------- settings --------------------

  .settings {
    grid-area: settings;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

}
