$base-margin: 1rem;
$inner-margin: 0.5 * $base-margin;

#character {
	display: flex;
	flex-direction: column;
	color: white;
	width: 100vw;
	height: 100vh;
	padding: $base-margin;
	box-sizing: border-box;

	.stat {
		background: white;
		color: black;
		margin-right: -1 * $base-margin;
		padding: $inner-margin;
		border-radius: $inner-margin 0 0 $inner-margin;

		&:not(:last-child) {
			margin-bottom: $inner-margin;
		}
	}

	.head {
		margin-bottom: $base-margin;

		.character-title {
			font-size: 0.8rem;

			.name {
				font-size: 1.6rem;
				color: #02da00;
			}

			.adventure {
				color: grey;
			}
		}
	}

	.body {
		flex-grow: 1;

		.content {
			display: flex;
			flex-direction: column;
			margin-right: $base-margin;

			> :not(:last-child) {
				margin-bottom: $base-margin;
			}

			.character-info {
				font-size: 0.9rem;

				> * {
					display: flex;

					&:not(:last-child) {
						margin-bottom: 0.3 * $inner-margin;
					}

					.key {
						width: 40%;
					}

					.value {
						font-weight: normal;
					}
				}
			}

			.character-status {
				display: flex;
				align-items: flex-start;
				justify-content: center;

				> * {
					background: white;
					color: black;
					width: 4.5rem;
					height: 4.5rem;
					padding: $inner-margin;
					box-sizing: border-box;

					&:not(:last-child) {
						margin-right: $inner-margin;
					}
				}
			}

			.character-collections {
				display: flex;
				flex-direction: column;
				align-items: stretch;

				* {
					background: white;
					color: black;
					height: 4.5rem;
					padding: $inner-margin;
					box-sizing: border-box;

					&:not(:last-child) {
						margin-bottom: $inner-margin;
					}
				}
			}
		}
	}

	.head, .body {
		display: flex;

		> :first-child {
			flex-grow: 1;
		}
	}
}