#new {
  .react-swipeable-view-container > * {
    padding: 1rem;
    box-sizing: border-box;
  }

  .playbook {
    box-sizing: border-box;
    height: calc(100vh - 2rem);
    width: calc(100vw - 2rem);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    position: relative;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    .subtitle {
    	flex-grow: 1;
      text-align: justify;
    }

    .actions {
      display: flex;
      justify-content: space-around;

      .button {
        background: black;
        border-radius: 0.5rem;
        padding: 0.5em 1em;
        font-size: 1.5rem;
      }
    }

    .about.text {
      font-size: 0.9rem;
      vertical-align: bottom;
      text-align: justify;

      > :not(:last-child) {
        margin-bottom: 0.2rem;
      }
    }

    &.hidden-about .about.text {
      display: none;
    }

    &.showing-about .about.text {
      position: absolute;
      background: rgba(0,0,0,0.8);
      width: calc(100% - 2rem);
      height: calc(100% - 11rem);
      top: 6rem;
      left: 1rem;
      border-radius: 1rem;
      padding: 1rem;
      box-sizing: border-box;
    }
  }

  .title {
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
  }

  .arcane.duelist {
    background-image: url('../../images/classes-backgrounds/arcane-duelist.jpg');
    background-color: #121b45;
    color: white;
    .subtitle {
      color: #121b45;
    }
  }

  .barbarian {
    background-image: url('../../images/classes-backgrounds/barbarian.jpg');
    background-color: #5c2217;
    color: white;
    .subtitle {
      color: #5c2217;
    }
  }

  .bard {
    background-image: url('../../images/classes-backgrounds/bard.jpg');
    background-color: #10381e;
    color: white;
    .subtitle {
      color: #10381e;
    }
  }


  .cleric {
    background-image: url('../../images/classes-backgrounds/cleric.jpg');
    background-color: #724e00;
    color: white;
    .subtitle {
      color: black;
    }
  }

  .druid {
    background-image: url('../../images/classes-backgrounds/druid.jpg');
    background-color: #544d07;
    color: white;
    .subtitle {
      color: #544d07;
    }
  }

  .fighter {
    background-image: url('../../images/classes-backgrounds/fighter.jpg');
    background-color: #1b5346;
    color: white;
    .subtitle {
      color: #1b5346;
    }
  }

  .immolator {
    background-image: url('../../images/classes-backgrounds/immolator.jpg');
    background-color: #76226f;
    color: white;
    .subtitle {
      color: #76226f;
    }
  }

  .paladin {
    background-image: url('../../images/classes-backgrounds/paladin.jpg');
    background-color: #184969;
    color: white;
    .subtitle {
      color: #568bb5;
    }
  }

  .ranger {
    background-image: url('../../images/classes-backgrounds/ranger.jpg');
    background-color: #361712;
    color: white;
    .subtitle {
      color: #361712;
    }
  }

  .thief {
    background-image: url('../../images/classes-backgrounds/thief.jpg');
    background-color: #3f2167;
    color: white;
    .subtitle {
      color: #3f2167;
    }
  }

  .wizard {
    background-image: url('../../images/classes-backgrounds/wizard.jpg');
    background-color: #1c3609;
    color: white;
    .subtitle {
      color: #1c3609;
    }
  }

  .choice {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .choice.button {
      font-size: 2rem;
      padding: 0.5rem;
      box-sizing: border-box;
      background: white;
      text-align: center;
      height: 4rem;
    }
  }

  .field.choice {
    input[type="text"] {
        width: calc(100vw - 4rem);
        margin: 2rem;
        padding: 0.5rem;
        box-sizing: border-box;
        border-radius: 0.5rem;
        border: none;
    }

    .options {
      overflow-y: scroll;
    }

    .option.button {
      display: inline-block;
      width: calc(50% - 4rem);
      margin: 1rem 2rem;
      padding: 1rem 0;
      box-sizing: border-box;
      background: #018b00;
      border-radius: 1rem;
      text-align: center;

      &.chosen {
        background: #015700;
      }
    }
  }

  .text.choice input {
    flex-grow: 1;
  }

  .text.choice textarea {
    font-family: 'MedievalSharp', cursive;
    font-weight: bold;
    font-size: 1.2rem;
    width: calc(100vw - 4rem);
    margin: 1rem 2rem;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    flex-grow: 1;
  }
}
