@import "../utils.scss";

$footer-height: 5rem;

.home.page {
  display: flex;
  flex-direction: column;

  .characters {
    height: calc(#{$page-height} - #{$footer-height});
    overflow: scroll;

    .character {
      @extend %round;
      @extend %inverted;
      margin: $large-gap;
      padding: $large-gap;
    }
  }

  .footer { height: $footer-height; }
}
