.home.page {
  display: flex;
  flex-direction: column;

  .header {
    position: relative;

    #app-name {
      position: absolute;
      left: 2.5rem;
      top: 0.75rem;
    }

    button {
      position: absolute;
      right: 0.5rem;
      top: 0.25rem;
    }
  }

  .characters {
    flex-grow: 1;
    padding: 1rem;

    .character {
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 5rem;
      padding: 1rem;
      background: white;
      margin-bottom: 1rem;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    > :only-child {
      width: 100%;
    }
  }

  /* Initialization animation */

  .header {
    transition: height 1s linear;
    .logo {
      position: absolute;
      aspect-ratio: 1;
      transition-property: top, left, height;
      transition-duration: 1s;
      transition-timing-function: linear;
    }
  }

  .header #app-name, .header button, .characters, footer {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 1s;
  }

  &.init {
    .header {
      height: 100vh;

      .logo {
        top: calc(50vh - 4.6rem);
        left: calc(50vw - 4rem);
        height: 8rem;
        aspect-ratio: 1;
      }
    }

    .header #app-name, .header button, .characters, footer { opacity: 0; }
  }

  &:not(.init) .header {
    height: 3rem;
    .logo {
      height: 1.5rem;
      top: 0.75rem;
      left: 0.75rem;
    }
  }
}
