@import "../utils.scss";

$footer-height: 5rem;

.home.page {
  display: flex;
  flex-direction: column;

  .characters {
    height: calc(#{$page-height} - #{$footer-height});

    .character {
      margin: $large-gap;
      padding: $large-gap;
      border-radius: $border-radius;
      color: black;
      background: white;
    }
  }

  .footer {
    height: $footer-height;
  }
}
