@import "../utils.scss";

$title-height: 3rem;
$game-card-height: 8.8rem;

.new.page {
  display: flex;
  justify-content: center;

  .pre-choice {
    width: $page-width;
    height: $page-height;

    > .title {
      color: white;
      text-align: center;
      line-height: $title-height;
      height: $title-height;
    }

    > .options {
      height: calc(#{$page-height} - #{$title-height});
      overflow-y: scroll;
    }

    &.choose.game .field {
      height: $game-card-height;
      margin: $large-gap;
      border-radius: $border-radius;
    }
  }
}
