/* This file includes the basic variables, extendable classes and elements that can be reused throughout the games css and the app */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@400;700&family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$page-height: 100vh;
$page-width: 100vw;
$full: 100%;

$large-gap: 1rem;
$small-gap: 0.5rem;
$tiny-gap: 0.2rem;
$border-radius: $small-gap;

$background-color: #151515;
$secondary-background-color: #003708;
$box-background: darken($background-color, 10%);
$primary-color: lighten($secondary-background-color, 10%);
$modal-background-color: rgba(0, 0, 0, 0.75);

%centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

%page-size {
  width: $page-width;
  height: $page-height;
}

%full-size {
  width: $full;
  height: $full;
}

%content-size {
  height: fit-content;
  width: fit-content;
}

%round {
  border-radius: $border-radius;
}

%square {
  aspect-ratio: 1;
}

%inverted {
  background: white;
  color: black;
}

%invisible {
  display: none;
}

%visible {
  display: block !important;
}

%flex-visible {
  display: flex !important;
}

%grid-visible {
  display: grid !important;
}

%exact-background {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

%game-badge::before {
  @extend %square, %round, %exact-background;
  content: '';
  position: absolute;
  top: $small-gap;
  right: $small-gap;
  width: 1.5rem;
}

%show-name {
  &::before {
    content: attr(name);
  }
}

%show-value {
  &::after {
    content: attr(value);
  }
}

%oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%stamp {
  transform: rotate(-30deg);
  color: #555;
  font-weight: 700;
  // border: 0.25rem solid #555;
  display: inline-block;
  padding: 0.25rem 1rem 0.25rem 0;
  text-transform: uppercase;
  border-radius: 1rem;
  font-family: 'Courier';
  color: #9f0000;
}

%scrollx { overflow-x: scroll; }
%scrolly { overflow-y: scroll; }
