/* This file includes the basic variables, extendable classes and elements that can be reused throughout the games css and the app */

$page-height: 100vh;
$page-width: 100vw;
$full: 100%;

$large-gap: 1rem;
$small-gap: 0.5rem;
$tiny-gap: 0.2rem;
$border-radius: $small-gap;

$background-color: #151515;
$modal-background-color: rgba(0, 0, 0, 0.75);

%centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

%page-size {
  width: $page-width;
  height: $page-height;
}

%full-size {
  width: $full;
  height: $full;
}

%content-size {
  height: fit-content;
  width: fit-content;
}

%round {
  border-radius: $border-radius;
}

%inverted {
  background: white;
  color: black;
}

%invisible {
  display: none;
}

%visible {
  display: block !important;
}

%flex-visible {
  display: flex !important;
}

%grid-visible {
  display: grid !important;
}

%exact-background {
  background-size: contain;
  background-repeat: no-repeat;
}

%game-badge::before {
  @extend %round, %exact-background;
  content: "";
  position: absolute;
  top: $small-gap;
  right: $small-gap;
  width: 1.5rem;
  aspect-ratio: 1;
}

%stamp {
  transform: rotate(-30deg) translate(-0.2rem, 1.2rem);
  font: bold 0.7rem MedievalSharp;
}

%show-name {
  &::before {
    content: attr(name);
  }
}

%show-value {
  &::after {
    content: attr(value);
  }
}

%title-text {
  font: bold 1.4rem;
  line-height: 1rem;
}

%meta-text {
  font: italic 1rem;
}

%field-text {
  font: italic 1rem;
}
