#root > * {
  width: 100vw;
  height: 100vh;
  background: #151515;
}

.loading.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  text-decoration: none;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  color: black;
  margin: 1rem;
}

.button svg {
  margin-right: 0.5rem;
}

a {
  text-decoration: none;
}

.ReactModalPortal > * {
  z-index: 1;
  background: rgba(0, 0, 0, 0.75) !important;
}

.ReactModalPortal > * > * {
  background: #151515 !important;
  border: none !important;
  color: white;
}
