@import "./css/utils.scss";

* {
  box-sizing: border-box;
}

#root > * {
  @extend %page-size;
  background: $background-color;
}

.loading.page {
  @extend %centering;
}

.button {
  @extend %centering, %round, %inverted;
  margin: $large-gap;
  padding: $small-gap $large-gap;

  svg {
    margin-right: $small-gap;
  }
}

.ReactModalPortal > * {
  z-index: 1;
  background: $modal-background-color !important;

  > * {
    background: $background-color !important;
    border: none !important;
    color: white;
  }
}
